.modalBg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	z-index: 1001;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	padding: 2rem;

	&.over {
		z-index: 1002;
	}

	&.show {
		opacity: 1;
		visibility: visible;

		.modal {
			transform: scale(1);
			opacity: 1;
		}
	}

	&.fade {
		background: rgba($dark, .4);
	}
}

.modal {
	margin: auto;
	background: $white;
	border-radius: .8rem;
	transform: scale(0);
	opacity: 0;
	max-height: 100dvh;
	transition: all .3s ease-in;
	position: relative;
	width: 100%;
	border-radius: 1.6rem;
	overflow: hidden;

	.modalClose {
		// position: absolute;
		// top: 2.4rem;
		// right: 2.2rem;
		// transform: translate(50%, -50%);
		cursor: pointer;
		width: 2.4rem;
		height: 2.4rem;
		margin-left: auto;

		svg {
			stroke: #49A7DE;
		}
	}

	&.cookies {
		max-width: 66rem;

		.modalHeader {
			display: flex;
			align-items: center;
			gap: 1.6rem;
			background: $whiteGray;
			padding: 3.2rem;
		}

		.title {
			font-size: 3.2rem;
		}

		.modalBody {
			padding: 3.2rem;
		}

		p {
			font-size: 1.6rem;
			color: rgba($dark, 0.80);
		}

		.btnGroup {
			margin-top: 3.2rem;
			display: flex;
			gap: 2.2rem;
		}

		.btn {
			padding: 2.1rem 3.2rem;
		}
	}
}

@include respond(m-screen) {
	.modal {
		&.cookies {
			.modalHeader {
				gap: 1.2rem;
				padding: 2rem;
			}

			.title {
				font-size: 2rem;
			}

			.modalBody {
				padding: 2rem;
			}

			p {
				font-size: 1.4rem;
			}

			.btnGroup {
				margin-top: 2rem;
				gap: .8rem;

				.btn {
					padding: 1.5rem 1rem;
				}
			}
		}
	}
}