.swiper {
	width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
	border-radius: 0.8rem;
	border: 1px solid $gray;
	background: $white;
	padding: 1.2rem;
	width: fit-content;
	height: fit-content;

	&::after {
		content: none;
	}
}

.swiper-pagination-bullet {
	background: $gray;
	cursor: pointer;
	opacity: 1;

	&.swiper-pagination-bullet-active {
		background: #49A7DE;
	}
}