# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

prepros.config

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# dev dir
/#source

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# local env files
.env
.env*.local