.accordionCustom {
	width: 100%;
	overflow: hidden;
	transition: $trans3;

	.accordionHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		overflow: hidden;
		color: #49A7DE;
		cursor: pointer;

		.title {
			font-size: 2.4rem;
			font-weight: 600;
			color: inherit;
		}

		.chevron {
			position: relative;
			width: 2.4rem;
			height: 2.4rem;
			display: flex;
			align-items: center;
			transition: inherit;

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				height: .4rem;
				width: 100%;
				transform: translateY(-50%);
				transition: $trans3;
				background: #49A7DE;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				height: 100%;
				transform: translateX(-50%) scale(0);
				width: .4rem;
				transition: $trans3;
				background: inherit;
			}
		}
	}

	.accordionBody {
		transition: inherit;
		overflow: hidden;
	}

	.bodyContent {
		padding-top: 3.2rem;
	}

	&.collapsed {
		.accordionHeader {
			color: $dark;

			.chevron {
				&::after {
					background: #3c5261;
				}

				&::before {
					background: #3c5261;
					transform: translateX(-50%) scale(1);
				}
			}
		}
	}
}

@include respond(m-screen) {
	.accordionCustom {
		.accordionHeader {
			.title {
				font-size: 2rem;
			}

			.chevron {
				width: 2rem;
				height: 2rem;
			}
		}

		.bodyContent {
			padding-top: 2.4rem;
		}
	}
}