h1 {
	font-size: 6.4rem;
	font-weight: 600;

	@include respond(m-screen) {
		font-size: 3rem;
	}
}

h2 {
	font-size: 4.8rem;
	font-weight: 600;

	@include respond(m-screen) {
		font-size: 2.4rem;
	}
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 125%;
	font-weight: 600;
	color: $dark;
}

p,
span {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 125%;
	color: $dark;

	@include respond(m-screen) {
		font-size: 1.6rem;
	}
}