// Font
$fontFamily: 'Poppins', sans-serif;

// Colors
$white: #fff;
$dark: #0B273A;
$whiteGray: #F3F6FB;
$gray: #E0E5EC;
$red: #ED6161;
$green: #6DB75A;
$purple: #8F68E2;
$bright-blue: #00adef;
$blue: #0071bb;
$blueGradient: #2D71B6;
$orange: #DB8402;

// Shadows
$shadow: 0px 1px 0px 0px rgba(11, 39, 58, 0.08);

// Transitions
$trans3: all .3s ease-in-out;

// Header
$header-height: 7.2rem;
$headerM-height: 5.6rem;