// Font
$fontFamily: 'Poppins', sans-serif;

// Colors
$white: #fff;
$dark: #0B273A;
$whiteGray: #F3F6FB;
$gray: #3f4f5a;
$red: #ED6161;
$green: #6DB75A;
$purple: #8F68E2;
$bright-blue: #00adef;
$blue: #0050bf;
$blueHover: #1e6fe2;
$lightBlue: #dce0fd;
$blueGradient: #2D71B6;
$orange: #DB8402;

// Shadows
$shadow: 1px 2px 4px 1px rgba(11, 39, 58, 0.2);

// Transitions
$trans3: all .3s ease-in-out;

// Header
$header-height: 7.2rem;
$headerM-height: 5.6rem;